# Archivos de configuración de Android Studio
*.iml
.idea/*
!.idea/modules.xml
!.idea/misc.xml

# Configuración local (NO debe subirse)
local.properties

# Carpeta de compilación
.gradle/
build/
app/build/

# Otros generados automáticamente
.cxx/
.externalNativeBuild/
captures/
.DS_Store